


<div class="container-fluid">
  <h1>Save your memories in PDF!</h1>
  <div class="row">
  <div class="col-sm-4"><%= image_tag("whatsapp.png") %></div>
  <div class="col-sm-4"><%= image_tag("black-right-arrow-png-transparent-images--21.png") %></div>
  <div class="col-sm-4"><%= image_tag("adobe-acrobat-pdf-file-document-512.png") %></div>
</div>
</div>

